+ Data types
  + Numbers
  + Strings
  + Printing
  + Lists
  + Dictionaries
  + Booleans
  + Tuples
  + Sets
+ Comparison Operators
+ if, elif, else Statements
+ for Loops
+ while Loops
+ range()
+ list comprehension
+ functions
+ lambda expressions
+ map and filter
+ methods

<hr>

<h2>Data types</h2>
<h3>Numbers</h3>

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [1]:
name_of_var = 3

In [2]:
x = 2
y = 4

In [3]:
z = x + y

In [4]:
print(z)

6

### Strings

In [7]:
'inside single quote'
"inside double quote"
"to print single quote (') wrap inside double quote"

"to print single quote (') wrap inside double quote"

### Printing

In [8]:
x = 'hello'

In [9]:
print(x)

hello

F-strings

In [10]:
num = 10
color = 'blue'
name = 'Arpit'

print(f"My name is {name}, my favourite number is {num} and my favourite color is {color}.")

My name is Arpit, my favourite number is 10 and my favourite color is blue.

using format

In [13]:
print("My name is {} and my favourite color is {}.".format(name, color))
print("My name is {one} and my favourite color is {two}.".format(one=name, two=color))

My name is Arpit and my favourite color is blue.
My name is Arpit and my favourite color is blue.

### Lists

In [16]:
list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [18]:
list2 = ['hi', 4, 5]
print(list2)
list2.append('bye')
print(list2)

['hi', 4, 5]
['hi', 4, 5, 'bye']

In [20]:
print(list2[0])
print(list2[3])

hi
bye

In [21]:
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 'hi', 4, 5, 'bye']

In [22]:
print(concatenated_list[3:])

['hi', 4, 5, 'bye']

In [23]:
print(concatenated_list[0:3])

[1, 2, 3]

In [25]:
concatenated_list[0] = 'hi'
concatenated_list[3] = '6'
print(concatenated_list)

['hi', 2, 3, '6', 4, 5, 'bye']

In [26]:
nested_list = [list1, list2]
print(nested_list)

[[1, 2, 3], ['hi', 4, 5, 'bye']]

In [27]:
print(nested_list[1][2])

5

### Dictionaries

In [3]:
d = {'key1':'value', 'key2':123}
print(d)

{'key1': 'value', 'key2': 123}

In [4]:
print(d['key1'])

value

In [5]:
d['key3'] = [1,2,3]

In [7]:
print(d['key3'])
print(d['key3'][1])

[1, 2, 3]
2

### Booleans

In [9]:
True

True

In [10]:
False

False

### Tuples

In [12]:
t = (1,2,3)
print(t[1])

2

In [13]:
t[0] = 'NEW'
# Tuples are not mutable

TypeError: 'tuple' object does not support item assignment

### Sets

In [14]:
{1,2,3}

{1, 2, 3}

In [16]:
# Sets is a collection of unique elements
{1,2,3,1,2,3,1,2,1,3,3,3,3,2,1,2}

{1, 2, 3}

### Comparison Operators

In [19]:
print(1 > 2)
print(1 < 2)
print(1 >= 1)
print(1 <= 0.5)
print(1 == 1)

False
True
True
False
True

In [20]:
'hi' == 'bye'

False

### Logic Operators

In [21]:
(1 > 2) and (2 < 3)

False

In [22]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### if, elif, else Statements

In [23]:
if 1 < 2:
    print('Yes!')

Yes!

In [24]:
if(1>2):
  print('1 is greater than 2.')
else:
  print('2 is greater than 1.')

2 is greater than 1.

In [25]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle