+ Data types
  + Numbers
  + Strings
  + Printing
  + Lists
  + Dictionaries
  + Booleans
  + Tuples
  + Sets
+ Comparison Operators
+ if, elif, else Statements
+ for Loops
+ while Loops
+ range()
+ list comprehension
+ functions
+ lambda expressions
+ map and filter
+ methods

<hr>

<h2>Data types</h2>
<h3>Numbers</h3>

In [56]:
1 + 1

2

In [57]:
1 * 3

3

In [58]:
1 / 2

0.5

In [59]:
2 ** 4

16

In [60]:
4 % 2

0

In [61]:
5 % 2

1

In [62]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [63]:
name_of_var = 3

In [64]:
x = 2
y = 4

In [65]:
z = x + y

In [66]:
print(z)

6

### Strings

In [67]:
'inside single quote'
"inside double quote"
"to print single quote (') wrap inside double quote"

"to print single quote (') wrap inside double quote"

### Printing

In [68]:
x = 'hello'

In [69]:
print(x)

hello

F-strings

In [70]:
num = 10
color = 'blue'
name = 'Arpit'

print(f"My name is {name}, my favourite number is {num} and my favourite color is {color}.")

My name is Arpit, my favourite number is 10 and my favourite color is blue.

using format

In [71]:
print("My name is {} and my favourite color is {}.".format(name, color))
print("My name is {one} and my favourite color is {two}.".format(one=name, two=color))

My name is Arpit and my favourite color is blue.
My name is Arpit and my favourite color is blue.

### Lists

In [72]:
list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [73]:
list2 = ['hi', 4, 5]
print(list2)
list2.append('bye')
print(list2)

['hi', 4, 5]
['hi', 4, 5, 'bye']

In [74]:
print(list2[0])
print(list2[3])

hi
bye

In [75]:
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 'hi', 4, 5, 'bye']

In [76]:
print(concatenated_list[3:])

['hi', 4, 5, 'bye']

In [77]:
print(concatenated_list[0:3])

[1, 2, 3]

In [78]:
concatenated_list[0] = 'hi'
concatenated_list[3] = '6'
print(concatenated_list)

['hi', 2, 3, '6', 4, 5, 'bye']

In [79]:
nested_list = [list1, list2]
print(nested_list)

[[1, 2, 3], ['hi', 4, 5, 'bye']]

In [80]:
print(nested_list[1][2])

5

### Dictionaries

In [81]:
d = {'key1':'value', 'key2':123}
print(d)

{'key1': 'value', 'key2': 123}

In [82]:
print(d['key1'])

value

In [83]:
d['key3'] = [1,2,3]

In [84]:
print(d['key3'])
print(d['key3'][1])

[1, 2, 3]
2

### Booleans

In [85]:
True

True

In [86]:
False

False

### Tuples

In [87]:
t = (1,2,3)
print(t[1])

2

In [127]:
t[0] = 'NEW'
# Tuples are not mutable

TypeError: 'tuple' object does not support item assignment

### Sets

In [89]:
{1,2,3}

{1, 2, 3}

In [90]:
# Sets is a collection of unique elements
{1,2,3,1,2,3,1,2,1,3,3,3,3,2,1,2}

{1, 2, 3}

### Comparison Operators

In [91]:
print(1 > 2)
print(1 < 2)
print(1 >= 1)
print(1 <= 0.5)
print(1 == 1)

False
True
True
False
True

In [92]:
'hi' == 'bye'

False

### Logic Operators

In [93]:
(1 > 2) and (2 < 3)

False

In [94]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### if, elif, else Statements

In [95]:
if 1 < 2:
    print('Yes!')

Yes!

In [96]:
if(1>2):
  print('1 is greater than 2.')
else:
  print('2 is greater than 1.')

2 is greater than 1.

In [97]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

### for Loops

In [98]:
seq = [1,2,3,4,5]

In [99]:
for item in seq:
    print(item)

1
2
3
4
5

In [100]:
for item in seq:
    print("There is a number in seq")

There is a number in seq
There is a number in seq
There is a number in seq
There is a number in seq
There is a number in seq

In [101]:
for num in seq:
    print(f'{num} * {num} = {num*num}')

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

### while Loops

In [102]:
i = 0
while i<5:
    print(f'i is : {i}')
    i = i+1

i is : 0
i is : 1
i is : 2
i is : 3
i is : 4

#### range()

In [103]:
range(5)

range(0, 5)

In [104]:
for i in range(5):
    print(i)

0
1
2
3
4

In [105]:
list(range(6))

[0, 1, 2, 3, 4, 5]

### list comprehension

In [106]:
# out = []
# for item in seq:
#     out.append(item**2)

out  = [item**2 for item in seq]

print(out)

[1, 4, 9, 16, 25]

### functions

In [107]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [108]:
my_func

In [109]:
my_func()

default

In [110]:
my_func('new param')

new param

In [111]:
my_func(param1='new param')

new param

function with return value

In [112]:
def square(x):
    return x**2

In [113]:
out = square(5)
print(out)

25

### lambda expressions

In [114]:
def times2(var):
  return var*2

# This can be written as
lambda var:var*2

In [115]:
print(times2(2))

4

### map and filter

In [116]:
seq = [1,2,3,4,5]

In [117]:
map(times2, seq)

In [118]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [119]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [120]:
filter(lambda var: var%2==0, seq)

In [121]:
list(filter(lambda var:var%2==0, seq))

[2, 4]

### methods

In [122]:
st = 'hello my name is Arpit'

In [123]:
print(st.lower())
print(st.upper())
print(st.split())

hello my name is arpit
HELLO MY NAME IS ARPIT
['hello', 'my', 'name', 'is', 'Arpit']

In [124]:
tweet = 'Go python #python'
print(tweet.split('#'))
print(tweet.split('#')[1])

['Go python ', 'python']
python

In [125]:
print(d)

{'key1': 'value', 'key2': 123, 'key3': [1, 2, 3]}

In [126]:
print(d.keys())
print(d.items())

dict_keys(['key1', 'key2', 'key3'])
dict_items([('key1', 'value'), ('key2', 123), ('key3', [1, 2, 3])])

In [129]:
print(list1)

[1, 2, 3]

In [130]:
print(list1.pop())
print(list1)

3
[1, 2]

In [132]:
print(3 in list1)
print(1 in list1)

False
True

<hr>