# Introduction to Pandas
+ Pandas is an open sourse library built on top of NumPy.
+ It allows for fast analysis and data cleaning and preparation.
+ It excels in performance and productivity.
+ It also has built-in visualization features.
+ It can work with data from a wide variety of sources.

In Pandas we will learn about:
+ Series
+ DataFrames
+ Missing Data
+ GroupBy
+ Merging, Joining, and Concatenating
+ Operations
+ Data Input and Output

<hr>

# Series
Series is a a Pandas data type. It is similar to a NumPy array.
The difference between NumPy array and Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [79]:
import numpy as np
import pandas as pd

## Creating a Series
We can covert a list, numpy array, or dictionary to a Series:

In [80]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

**Using lists**

In [81]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [82]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [83]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

**NumPy arrays**

In [84]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [85]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

**Dictionary**

In [86]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Data in a Series
A pandas Series can hold a variety of object types:

In [87]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [88]:
# it can even store references to python functions
pd.Series(data=[sum,len,len])

0    <built-in function sum>
1    <built-in function len>
2    <built-in function len>
dtype: object

## Using an Index
Pandas makes use of index names or numbers by allowing for fast look ups of information (sililar to a hash map or dictionary).

In [89]:
ser1 = pd.Series([1,2,3,4], index=['one', 'two', 'three', 'four'])
ser1

one      1
two      2
three    3
four     4
dtype: int64

In [90]:
ser2 = pd.Series([1,2,5,4], index=['one', 'two', 'five', 'four'])
ser2

one     1
two     2
five    5
four    4
dtype: int64

In [91]:
ser1['two']

2

Operations are then also based on indexes:

In [92]:
ser1 + ser2

five     NaN
four     8.0
one      2.0
three    NaN
two      4.0
dtype: float64

<hr>

# DataFrames
DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [118]:
np.random.seed(101)
data = np.random.randn(5,4)
data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [119]:
df = pd.DataFrame(data, index='A B C D E'.split(), columns='W X Y Z'.split())

In [120]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

In [121]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [122]:
# Pass a list of columns
df[['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [123]:
# SQL syntax
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame columns are just Series

In [124]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [125]:
df['new'] = df['W'] + df['Y']

In [126]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

**Removing Columns**

In [127]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [128]:
# Original data is not updated because function is not inplace.
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [129]:
df.drop('new',axis=1,inplace=True)

In [130]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Cols can be dropped using same way**

In [131]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

**Selecting Rows**

In [132]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [133]:
# or based on position
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

**Selecting Subsets of rows and columns**

In [134]:
df.loc['B','Y']

-0.8480769834036315

In [135]:
df.loc[['A','B'],['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077

## Conditional Selection
An important deature of pandas is conditional selection using bracket notation.

In [136]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [137]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [138]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [139]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [140]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [141]:
df[df['W']>0][['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
D -0.933237  0.955057
E  2.605967  0.683509

For merging two conditions you can use | and & with paranthesis:

In [142]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## More Index Details
Pandas has some more features of indexing, including resetting the index or setting it something else.

In [143]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [144]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [145]:
new_ind = 'WB UP MP RJ AS'.split()

In [146]:
df['States'] = new_ind

In [147]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     WB
B  0.651118 -0.319318 -0.848077  0.605965     UP
C -2.018168  0.740122  0.528813 -0.589001     MP
D  0.188695 -0.758872 -0.933237  0.955057     RJ
E  0.190794  1.978757  2.605967  0.683509     AS

In [148]:
df.set_index('States')

               W         X         Y         Z
States
WB      2.706850  0.628133  0.907969  0.503826
UP      0.651118 -0.319318 -0.848077  0.605965
MP     -2.018168  0.740122  0.528813 -0.589001
RJ      0.188695 -0.758872 -0.933237  0.955057
AS      0.190794  1.978757  2.605967  0.683509

In [149]:
# set index and reset index are also not inplace functions
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     WB
B  0.651118 -0.319318 -0.848077  0.605965     UP
C -2.018168  0.740122  0.528813 -0.589001     MP
D  0.188695 -0.758872 -0.933237  0.955057     RJ
E  0.190794  1.978757  2.605967  0.683509     AS

In [150]:
df.set_index('States', inplace=True)
df

               W         X         Y         Z
States
WB      2.706850  0.628133  0.907969  0.503826
UP      0.651118 -0.319318 -0.848077  0.605965
MP     -2.018168  0.740122  0.528813 -0.589001
RJ      0.188695 -0.758872 -0.933237  0.955057
AS      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

In [153]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)

hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [155]:
midf = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
midf

             A         B
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

In [158]:
# to access the data
midf.loc['G1']

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [159]:
midf.loc['G1'].loc[2]

A   -0.943406
B    0.484752
Name: 2, dtype: float64

In [160]:
# we can specifty what the indexes indicate
midf.index.names

FrozenList(['States'])

In [162]:
midf.index.names = ['Group', 'Num']

In [163]:
midf

                  A         B
Group Num
G1    1   -0.497104 -0.754070
      2   -0.943406  0.484752
      3   -0.116773  1.901755
G2    1    0.238127  1.996652
      2   -0.993263  0.196800
      3   -1.136645  0.000366

Cross-section method (xs)

In [164]:
midf.xs('G1')

            A         B
Num
1   -0.497104 -0.754070
2   -0.943406  0.484752
3   -0.116773  1.901755

In [166]:
midf.xs(['G1',1])

C:\Users\Asus\AppData\Local\Temp/ipykernel_9752/1582601181.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  midf.xs(['G1',1])

A   -0.497104
B   -0.754070
Name: (G1, 1), dtype: float64

In [168]:
midf.xs(1, level='Num')

              A         B
Group
G1    -0.497104 -0.754070
G2     0.238127  1.996652

<hr>